* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    padding: 0 50px 0 !important;
}

nav li {
    display: block;
    margin: auto;
    padding: 0 10px;
    cursor: pointer !important;
}

.overlay nav .collapse ul li a {
    cursor: pointer !important;
    pointer-events: auto !important;
    /* z-index: 10 !important; */
}

html {
    overflow-x: hidden;
    /* width: 100vw; */
    scroll-snap-type: y mandatory;
}

.scrol {
    scroll-snap-align: start;
    /* height: 100vh; */
}

.first {
    height: 100vh;
    /* z-index: 11 !important; */
}

/* section {
    height: 100vh;
} */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: #03a9f4;
    mix-blend-mode: overlay;

}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

/* .container {
    padding: 50px;
    z-index: 2;
    background: #03a9f4;
    mix-blend-mode: overlay;
} */

h1 {
    text-align: center;
    z-index: 10;
}

.col span::before {
    content: 'pomagają wzmocnić mięśnie, kości i stawy';
    animation: word-switch 6s infinite;
}

.counters {
    text-align: center;
}

.animate {
    padding-top: 10vh;
    text-align: center;
    font-size: 5vh;
    animation-name: example;
    animation-duration: 2s;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.image {
    margin: 20px 0;
    position: relative;
    display: flex;
    justify-content: center;
    /* width: 350px; */
}

.image-cover {
    position: absolute;
    top: 0;
    /* position: absolute;
      top: 0; */
    min-height: 100%;
    min-width: 100%;
    background: rgba(243, 245, 246, 1);
    background: white;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

.ul li {
    margin-left: 20px;
}

.ul ul {
    padding-right: 20px;
    /* padding-left: 10px; */
}

@keyframes example {

    /* 100% {
          opacity: 1;
      } */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes word-switch {

    33% {
        content: 'pomagają wzmocnić mięśnie, kości i stawy';
    }

    66% {
        content: 'spalają nadmierną ilość tkanki tłuszczowej';

    }

    100% {
        content: 'podnoszą poziom endorfin';
    }
}

@media (max-width: 1000px) {
    .page-contact-sidebar {
        display: none;
    }
}

@keyframes AnimationName {
    0% {
        right: 0;
    }

    100% {
        right: 100%
    }
}


@-webkit-keyframes AnimationName {
    0% {
        right: 0;
    }

    100% {
        right: 100%
    }
}

@-moz-keyframes AnimationName {
    0% {
        right: 0;
    }

    100% {
        right: 100%
    }
}
